/* Universal Classes */
.title {
  text-align: center;
  color: #95d565;
}

/* Classes for Splash Page */

/*Test*/
#chart svg {
  height: 80px;
}
.spacer {
  height: 1rem;
  width: 100%;
  opacity: 0;
}
.increment {
  display: inline-block;
}
.stat {
  display: inline-block;
}
.horizontal-spacer {
  width: 20%;
  display: inline-block;
}

.login {
  text-align: center;
}
.loginButton {
  /*position: absolute;*/
  margin-top: 5rem;
  background-color: #87c0e9;
  color: #f6f6f6;
  width: 30%;
  height: 2rem;
  margin-left: 35%;
  text-align: center;
  border-radius: 8px;
}
.loginBox {
  text-align: center;
}
.loginField {
  margin-left: 30%;
  text-align: center;
}
.signupButton {
  /*position: absolute;*/
  margin-top: 5rem;
  background-color: #ade987;
  color: #f6f6f6;
  width: 30%;
  height: 2rem;
  margin-left: 35%;
  text-align: center;
  border-radius: 8px;
}
.signup {
  text-align: center;
}
.signupBox {
  text-align: center;
}
.signupField {
  margin-left: 30%;
  text-align: center;
}








/*TEST D3 STUFF*/

.chart {
    background: #ffffff;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: center;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}*/

/*
.chart rect {
  fill: steelblue;
}


/*.chart {
  background-color: #19fe29;
}

.chart .legend {
  fill: black;
  font: 14px sans-serif;
  /*text-anchor: start;*/
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  /*text-anchor: end;*/
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  /*text-anchor: end;*/
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/
