<!-- <ion-modal-view>
  <ion-header-bar><<h1>Add Habit</h1></ion-header-bar>
  <ion-content>
    <
  </ion-content>
</ion-modal-view> -->

<ion-view title='Something'>
  <ion-header-bar class='bar bar-stable'><h2><a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>&nbsp; Add Stat</h2></ion-header-bar>
  <ion-content>
    <div class='list'>
      Counter
      <label class='toggle' ng-click='UC.counterToggle()'><input type='checkbox'><div class='track'>
        <div class='handle'>
        </div>
      </div></label>
    </div>
    <div class='list' ng-show='!UC.addCounter'>
      <label class='item item-input item-stacked-label'><span class='input-label'>Stat Name</span><input type='text' placeholder='Stat'></label>
      <label class='item item-input item-stacked-label'><span class='input-label'>Numerator</span><input type='text' placeholder='Start'></label>
      <label class='item item-input item-stacked-label'><span class='input-label'>Denominator</span><input type='text' placeholder='Start'></label>
      <input class="jscolor {closable:true,closeText:'Close me!'}"
      value="ff3300">
      <label class='item item-input item-stacked-label'><span class='input-label'>Position</span><input type='text' placeholder='Stat'></label>
    </div>
  </ion-content>
</ion-view>
