<ion-modal-view title='Something'>
  <ion-header-bar class='background'><h2 class='page-title'>&nbsp; Hunter Hoburg</h2></ion-header-bar>
  <ion-content class='background'>
    <div class='card'>
      <div class='item item-text-wrap contact-info lighter-background'>

          Stat is coming soon to the Google Play store!
        <br>
        Visit Hunter at:
        <ul>
          <li>
            <i class='icon ion-social-octocat'></i>
             <a class='contact-link' href='https://www.github.com/hunter-hoburg'>github.com/hunter-hoburg</a>
          </li>
          <li>
            <i class='icon ion-social-linkedin'></i>
            <a class='contact-link' href='https://www.linkedin.com/in/hhoburg'>linkedin.com/in/hhoburg</a>
          </li>
          <li>
            <i class='icon ion-beer'></i>
            <a class='contact-link' href='https://www.hunterhoburg.com'>hunterhoburg.com</a>
          </li>
          <li class='contact-link'>
            <i class='icon ion-android-mail'></i>
            hhoburg@gmail.com
          </li>
          <li class='contact-link'>
            <i class='icon ion-android-call'></i>
            (970) 488-9238
          </li>
        </ul>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
