<ion-modal-view title='Something'>
  <ion-header-bar><h2>&nbsp; Players</h2></ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Player Cards
      </div>
      <div class="item item-text-wrap">
        Each player in a project is here. Add stats to players or delete a player with the buttons at the bottom of their card.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Adding Players
      </div>
      <div class="item item-text-wrap">
        When you click the 'Add Player' button near the bottom of the screen, you can choose a name and color for a new player. Once added, you can add new stats!
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Adding Stats
      </div>
      <div class="item item-text-wrap">
        Once a player has been added, you can add stats with the button in the bottom left of their card. Each stat has a name (like 'Touchdowns' or 'HP'), a numerator (if someone had 2 homeruns, the numerator would be 2), a denominator (for stats with two values like a Win / Loss ratio, where the denominator would be the Losses), and a color for easy identification.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Saving Stats
      </div>
      <div class="item item-text-wrap">
        In order to save that changes you make, hit the 'Save Stats' button at the bottom of the screen, and you're all done!
      </div>
    </div>
  </ion-content>
</ion-modal-view>
