<div></div>
<ion-side-menus enable-menu-with-back-views='true'>
  <ion-side-menu-content>
    <ion-header-bar><h2 ng-style='{color: UC.currentUser.color_1}'><button menu-toggle='left' class='button button-icon icon ion-navicon'></button>{{ UC.currentProject }}</h2></ion-header-bar>
    <ion-content>
      <ion-list>
        <ul>
          <li ng-repeat='player in UC.players | unique:"player_name"'>
            <h3 ng-style='{color: player.color}'>
              {{ player.player_name }}
            </h3>
            <ul>
              <li ng-repeat='stat in player.stats'   id='{{stat.stat_id}}'>
                <div>
                  <div ng-if='stat.denominator <= 1'>
                    <button ng-click='UC.up(stat)'>Up</button>
                    <p>
                      {{ stat.measurement }} :
                        {{ stat.numerator }} /
                        {{ stat.denominator }}
                    </p>
                    <button ng-click='UC.down(stat)'>Down</button>
                  </div>
                  <div>
                    <bar-chart chart-num='{{stat.numerator}}'chart-denom='{{stat.denominator}}' chart-measure='{{stat.measurement}}'></bar-chart>
                  </div>
                </div>
              </li>
            </ul>
            <div ng-click='UC.addStat(); UC.player_id = player.player_id'>
              <p>
                Add a stat to track
              </p>
            </div>
          </li>
          <div class='spacer'>

          </div>
        </ul>
      </ion-list>
      <div>
        <button class='button button-calm' ng-click='UC.addPlayer()'>Add Player</button>
      </div>
    </ion-content>
  </ion-side-menu-content>
  <ion-side-menu>
    <ion-header-bar><h2>Menu<button ng-click='UC.goBack()'>Back</button></h2></ion-header-bar>
    <ion-list>
      <ion-item>Back to Projects</ion-item><ion-item>About</ion-item><ion-item>Settings</ion-item><ion-item>Log Out</ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>
