<div></div>
<ion-side-menus enable-menu-with-back-views='true'>
  <ion-side-menu-content>
    <ion-header-bar><h2 ng-style='{color: UC.currentUser.color_1}'><button menu-toggle='left' class='button button-icon icon ion-navicon'></button>{{ UC.currentProject }}</h2></ion-header-bar>
    <ion-content>
      <ion-list ng-init='UC.setPlayers()'>
        <ul>
          <li ng-repeat='player in UC.players | unique:"player_name"' ng-init='UC.playerLister(player)'>
            <h3 ng-class='{color: player.color}'>
              {{ player.player_name }}
            </h3>
            <!-- <p>
              {{ player }}
            </p> -->
            <ul>
              <li ng-repeat='stat in player.stats' ng-init='UC.statLister(stat)'>
                <div>
                  <p>
                    <div ng-init='UC.statDetails(stat)'>
                      {{ stat.numerator }} /
                    </div>
                    <div>
                      {{stat.denominator}}
                    </div>

                    {{ stat.measurement }}
                  </p>
                  <canvas id='bar' class='chart chart-bar' chart-data='stat.numerator.toArray()' chart-labels='stat.measurement.toArray()'></canvas>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </ion-list>
    </ion-content>
  </ion-side-menu-content>
  <ion-side-menu>
    <ion-header-bar><h2>Menu</h2></ion-header-bar>
    <ion-list>
      <ion-item>Back to Projects</ion-item><ion-item>About</ion-item><ion-item>Settings</ion-item><ion-item>Log Out</ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>
