<ion-modal-view title='Something'>
  <ion-header-bar><h2>&nbsp; Projects</h2></ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Project Cards
      </div>
      <div class="item item-text-wrap">
        Each project you've started lives here, displayed with the title and number of players currently in the project. Tapping on the project will open it.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Adding Projects
      </div>
      <div class="item item-text-wrap">
        Clicking the 'Add a Project' button will prompt you to create another project. Here you will choose a title for the project, the first player's name, and a color for that player!
      </div>
    </div>
  </ion-content>
</ion-modal-view>
